@import url('./nav2.css');
@import url('./button2.css');
@import url('./section.css');
@import url('./img.css');

   @media(max-width:901px)
{
  body
  {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-rows: 250px 600px;
    grid-area: "hd" "ft";
  }
}
  .footer
 {
    grid-area: ft;
    text-align: center;
    color: rgb(17, 17, 192);
    background-color: rgb(243, 146, 146);
 } 

.header
 {
   grid-area: ft;
   text-align: center;
   color: rgb(17, 17, 192);
   background-color: rgb(243, 146, 146);
   height: 60px;
 }


